.month-name  {
    margin-top: 6px;
    margin-bottom: 4px;
    vertical-align: top;
}
.month-name-content  {
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: #98cfaa;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14pt;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    border-radius: 5px;
}
.month-name-indent  {
    display: inline-block;
    min-width: 20px;
    min-height: 32px;
}
h2 { font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    color: #77d;
    text-indent: 0;
    padding: 0;
    width: 470px;
    display: table-cell;
}
.winter {background-color: lightblue;}
.spring {background-color: #dfd;}
.summer {background-color: #fed;}
.autumn {background-color: #ccffbb;}
.holiday {
    color: red;
    font-weight: bold;
}
.week-day {
    text-align: center;
    font-size: 12px;
    font-family: Noto Sans, sans-serif;
    font-weight: bolder;
    color: #88ff88;
    background-color: darkgoldenrod;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    border-radius: 5px;
    vertical-align: text-bottom;
}
.week-day-table {
    min-width: 32px;
    height: 152px; /* Высота таблицы */
    -webkit-border-horizontal-spacing: 0;
}
#updCal {
    visibility: hidden;
    width: 25px;
}
.spec-date {
    background-color: gold;
}
td .spec-date {
    border: solid 1px green;
    border-radius: 5px;
}
.tooltip {
    position: fixed;
    padding: 1px 2px;
    border: 1px solid yellow;
    border-radius: 7px 7px 7px 0;
    text-align: center;
    font: italic 14px/1.3 sans-serif;
    font-weigth: bold;
    color: #fff;
    background: #f00;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}
.month {
    font-size: 12px;
    font-family: Noto Sans, sans-serif;
    text-align: right;
    vertical-align: text-bottom;
    width: 100%; /* Ширина таблицы */
    height: 152px; /* Высота таблицы */
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}
.month td {width: 10px;}
.calendar-row {
    width: 100%;
}